<section class="container">

	<div class="row justify-content-center">
		<div class="col-lg-6 col-md-6 col-sm-10 mb-3 ">
			<div class="card-container">
				<article class="card h-100 mb-6 mt-4">

					<div class="card-body">
						<h3 class="text-center">Catégories</h3>
					</div>
					<div class="card-body">
						<p>
							<a class="btn" href="{{ path('admin_categories_index') }}">liste</a>
						</p>
						<p>
							<a class="btn" href="{{ path('admin_categories_add') }}">Ajouter</a>
						</p>
					</div>
				</article>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-10 mb-3">
			<div class="card-container">
				<article class="card h-100 mb-6 mt-4">
					<div class="card-header">
						<h3 class="text-center">Produits et images</h3>
					</div>
					<div class="card-body">
						<p>
							<a class="btn" href="{{ path('admin_dishes_index') }}">liste</a>
						</p>
						<p>
							<a class="btn" href="{{ path('admin_dishes_add') }}">Ajouter</a>
						</p>
					</div>
				</article>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-10 mb-3 ">
			<div class="card-container">
				<article class="card h-100 mb-6">
					<div class="card-header">
						<h3 class="text-center">Réservation</h3>
					</div>
					<div class="card-body">
						<p>
							<a class="btn" href="{{ path('admin_calendar_index') }}">Voir ou modifier</a>
						</p>
					</div>
				</article>
			</div>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-lg-6 col-md-6 col-sm-10 mb-3 ">
			<div class="card-container">
				{% if is_granted('ROLE_ADMIN') %}
					<article class="card h-100 mb-6">
						<div class="card-header">
							<h3 class="text-center">Utilisateurs</h3>
						</div>
						<div class="card-body">
							<p>
								<a class="btn" href="{{ path('admin_users_index') }}">Voir ou modifier</a>
							</p>
						</div>
					</article>
				{% endif %}
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-10 mb-3 ">
			<div class="card-container">
				<article class="card h-100 mb-6">
					<div class="card-header">
						<h3 class="text-center">Menus</h3>
					</div>
					<div class="card-body">
						<p>
							<a class="btn" href="{{ path('admin_menus_index') }}">liste</a>
						</p>
						<p>
							<a class="btn" href="{{ path('admin_menus_add') }}">Ajouter</a>
						</p>
					</div>
				</article>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-10 mb-3 ">
			<div class="card-container">
				{% if is_granted('ROLE_ADMIN') %}
					<article class="card h-100 mb-6">
						<div class="card-header">
							<h3 class="text-center">Horaires</h3>
						</div>
						<div class="card-body">
							<p>
								<a class="btn" href="{{ path('admin_business_hours_index') }}">Horaires d'ouverture</a>
							</p>
						</div>
					</article>
				{% endif %}
			</div>
		</div>
	</div>

</section>
