<footer>
	<hr>
	{% if not is_granted('ROLE_DISHES_ADMIN') %}
	<section class="container">
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<h3 class="text-center">Jours d'ouverture :</h3>
				<ul class="text-center">
					{% set days_set = [] %}
					{% for hour in opening_hours %}
						{% if hour.day not in days_set %}
							{% set days_set = days_set|merge([hour.day]) %}
						{% endif %}
					{% endfor %}
					{% for day in days_set %}
						<ol class="text-center">{{ day }}</ol>
					{% endfor %}
				</ul>

				<h3 class="text-center">Heures d'ouverture :</h3>
				<ul class="text-center">
					{% set opening_hours_list = [] %}
					{% for hour in opening_hours %}
						{% set hours = hour.openTime ~ ' - ' ~ hour.closeTime %}
						{% if hours not in opening_hours_list %}
							{% set opening_hours_list = opening_hours_list|merge([hours]) %}
						{% endif %}
					{% endfor %}
					{% for hours in opening_hours_list %}
						<ol class="text-center">{{ hours }}</ol>
					{% endfor %}
				</ul>
        <hr>
				<div class="text-center">
					{% if app.user %}
						<a type="button" href="{{ path('app_calendar_new') }}" class="btn btn mt-3">Réserver</a>
					{% else %}
						<h3>Connectez-vous pour réserver</h3>
						<a type="button" href="{{ path('app_login') }}" class="btn mt-3">Connexion</a>
						<a type="button" href="{{ path('app_register') }}" class="btn mt-3">S'inscrire</a>
					{% endif %}
				</div>
				
			</div>
		</div>
	</section>
	{% endif %}
  <hr>
	<section class="container">
		<div class="row justify-content-center">
			<article class="col-lg-4 col-md-8 col-sm-12 text-center">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d88846.17550673975!2d6.056363957637967!3d45.90245241526484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478b8fe55861febb%3A0x6a90ac32b5ab892b!2sAnnecy!5e0!3m2!1sfr!2sfr!4v1679986200066!5m2!1sfr!2sfr" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</article>
			<article class="col-lg-4 col-md-8 col-sm-12 text-center">
				<h3>Adresse</h3>
				<h6>1 rue de la gare</h6>
				<h6>74000 Annecy</h6>
				<h6>France</h6>
				<h6>Téléphone: 03 xx xx xx xx</h6>
			</article>
			<section class="col-lg-4 col-md-8 col-sm-12 text-center">
				<div>
					<a class="nav-link " aria-current="page" href="{{ path('app_main') }}">Accueil</a>
				</div>
				<div>
					<a class="nav-link" href="{{ path('app_contact') }}">Contact</a>
				</div>
				<div>
					<a class="nav-link" href="{{ path('app_mention_legal') }}">Mentions légales</a>
				</div>
				<div>
					<a class="nav-link" href="{{ path('app_mieux_nous_connaitre') }}">Mieux nous connaitre</a>
				</div>
			</section>
		</div>
		<hr>
		<div class="row justify-content-center">
			<div class="col-4 text-center">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-facebook" viewbox="0 0 16 16">
					<path
