<section class="container">
	<div class="row justify-content-center">
		<div class="col">
			{{ form_start(profileForm) }}
			{{ form_row(profileForm.lastname) }}
            {{ form_row(profileForm.firstname) }}
            {{ form_row(profileForm.phone) }}
            {{ form_row(profileForm.allergie) }}
			{{ form_row(profileForm.email) }}
				
                <div>
					<button class="btn btn mt-2" type="submit">
						{{ button_label | default ('Ajouter') }}
					</button>
				</div>
			{{ form_end(profileForm) }}
          
		</div>
	</div>
</section>
