{% extends 'base.html.twig' %}

{% block title %}Réservation
{% endblock %}

{% block body %}
	<h1 class="text-center">Réserver une table</h1>
	<div
		class="text-center">

		{# Afficher les réservations existantes de l'utilisateur #}
		{% if existingReservations|length > 0 %}
			<h3>Vos réservations existantes :</h3>
			{% include 'calendar/reservation_list.html.twig' %}
			<hr>
		{% endif %}

		{# Afficher le formulaire de réservation #}
		{{ include('calendar/_form.html.twig') }}
		

		<div class="mt-3">
			<a class="btn btn mt-3" href="{{ path('app_calendar_index') }}">Retour</a>
		</div>
	</div>


{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('assets/js/calendar.js') }}" defer></script>
	 <script>
        let closedDays = {{ closedDaysArray | json_encode | raw }};
    </script>
{% endblock %}
