{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block body %}
    <h1 class="text-center">Calendrier</h1>

    <table class="table text-center">
        <tbody>
            <tr>
                <th>N°</th>
                <td class="align-middle">{{ calendar.id }}</td>
            </tr>
            <tr>
                <th>Date et heure</th>
                <td class="align-middle">{{ calendar.start ? calendar.start|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre de convive</th>
                <td class="align-middle">{{ calendar.numberOfGuests }}</td>
            </tr>
        </tbody>
    </table>
<div class="d-grid gap-2 d-md-block text-center">
    <a class="btn btn" href="{{ path('app_calendar_index') }}">Retour</a>

    <a class="btn btn3" href="{{ path('app_calendar_edit', {'id': calendar.id}) }}">Modifier</a>
    <div class="mt-2">
    {{ include('calendar/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
