{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}

	<section class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 col-md-8 col-sm-12 text-center">

				{{ form_start(registrationForm) }}
				<h1>Inscription</h1>
				<fieldset class="mb-3">
					<legend>Mon identité</legend>
					{{ form_row(registrationForm.lastname) }}
					{{ form_row(registrationForm.firstname) }}
					{{ form_row(registrationForm.email) }}
				</fieldset>

				<fieldset class="mb-3">
					<legend>Mes infos</legend>
					{{ form_row(registrationForm.phone) }}
					{{ form_row(registrationForm.allergie) }}
				</fieldset>

				{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'}) }}
				<div class="form-group">
					{{ form_row(registrationForm.RGPDConsent, {
					label: 'J\'accepte que mes données personnelles soient utilisées 
                 pour la gestion de mes réservations.
                Je peux à tout moment me désinscrire en allant dans mon profil ou en envoyant un mail à 
                l\'adresse suivante : developpement.solution@gmail.com . Voir les conditions d\'utilisation et/ou les mentions légales:'
				}) }}
				
				<a class="form-group" href="{{ path('app_mention_legal') }}">Mentions légales</a> 
				</div>
				<button type="submit" class="btn btn-lg my-3">M'inscrire</button>
				<a href=" {{ path('app_login')}} " class="btn btn-lg btn2 my-3">Me connecter</a>
				{{ form_end(registrationForm) }}
				</div>
			</div>

		</section>


	{% endblock %}
