{% extends 'base.html.twig' %}

{% block title %}
	Liste des menus
{% endblock %}


{% block body %}
	<div class="container-fluid">
		<div class="row justify-content-center">

			{% include "_partials/_adminnav.html.twig" %}
			<main class="col-12">
				<h1 class="text-center">Liste des menus</h1>
				<div class="table-responsive">
					<table class="table">
						<thead class="thead-dark">
							<tr class="text-center">
								<th class="align-middle">Image</th>
								<th class="align-middle">Nom des plats</th>
								<th class="align-middle">Nom du menu</th>
								<th class="align-middle">Description</th>
								<th class="align-middle">Prix en €</th>
								<th class="align-middle">Actions</th>
							</tr>
						</thead>
						{% for menu in menus %}
							<tr
								class="text-center">
								{# Affichage de la première image de chaque plat dans le menu #}
								<td class="align-middle">
									{% for dish in menu.getDishes %}

										{% if dish.images|length > 0 %}
											<img src="{{ asset('assets/uploads/dishes/mini/300x300-' ~ dish.images[0].name ) }}" alt="{{ dish.name }}" class="product-img">
										{% else %}
											<img src="{{ asset('assets/images/OrangeetBordeauxRestaurantLogo.png') }}" alt="Image par défaut" class="img-fluid product-img">
										{% endif %}
									{% endfor %}
								</td>
								<td class="align-middle">
									{% for dish in menu.getDishes %}
										{{ dish.name }}<br>
									{% endfor %}
								</td>

								<td class="align-middle">{{ menu.name }}</td>
								<td class="align-middle">{{ menu.description }}</td>
								<td class="align-middle">{{ menu.price }}€</td>
								<td class="align-middle">
									<a href="{{ path('admin_menus_edit', {'id': menu.id}) }}" class="btn btn2">Modifier</a>

								</td>

							</tr>

						{% endfor %}

					</table>
				</div>
				<div class="text-center">
					<a href="{{ path('admin_menus_add') }}" class="btn btn">Ajouter</a>
				</div>
			</main>
		</div>
	</div>
{% endblock %}
