{% extends 'base.html.twig' %}

{% block title %}
	Liste des menus
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row justify-content-center">

			{% include "_partials/_adminnav.html.twig" %}
			<main class="col-12 ">
				<h1 class="text-center">Liste des menus</h1>
				<table class="table">
					<thead class="text-center">
						<tr class="text-center">
							<th>Nom</th>
							<th>Description</th>
							<th>Prix en €</th>
							<th>Actions</th>
						</tr>
					</thead>
					{% for menu in menus %}
						<tr class="text-center">
							{# Ajoutez cette ligne pour afficher la première image de chaque plat dans le menu #}
							<td><img src="{{ asset('assets/uploads/dishes/mini/300x300-' ~ menu.dishes[0].images[0].name ) }}" alt="{{ menu.dishes[0].name }}" class="img-thumbnail"></td>

							<td class="align-middle">{{ menu.name }}</td>
							<td class="align-middle">{{ menu.description }}</td>
							<td class="align-middle">{{ menu.price }}€</td>
							<td class="align-middle">
								<a href="{{ path('admin_menus_edit', {'id': menu.id}) }}" class="btn btn2">Modifier</a>

							</td>

						</tr>

					{% endfor %}

				</table>
				<div class="text-center">
					<a href="{{ path('admin_menus_add') }}" class="btn btn">Ajouter</a>
				</div>
			</main>
		</div>
	</div>
{% endblock %}
