{% extends 'base.html.twig' %}

{% block title %}Modifier la réservation{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier la réservation</h1>

<section class="container">
<div class="row">
<div class="col-12 col-md-6 offset-md-3">
    {{ form_start(form) }}
        {{ form_widget(form) }}
       <div class="text-center">
        <button class="btn btn1 text-center mt-3 mb-4">Sauvegarder</button>
         <div class="text-center">
        	{{ include('admin/calendar/_delete_admin_form.html.twig') }}
        </div>
    {{ form_end(form) }}
     
       

    <a class="btn btn3 mt-3" href="{{ path('admin_calendar_index') }}">Retour à la liste</a>
    </div>
</div>
</div>
</section>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/calendar.js') }}" defer></script>
	<script>let closedDays = {{ closedDaysArray | json_encode | raw }};</script>
	<script src="{{ asset('assets/js/calendarCloseDay.js') }}"defer></script>
	
	<script src="{{ asset('assets/js/reservationVerif.js') }}" defer></script>
{% endblock %}
