{% extends 'base.html.twig' %}

{% block title %}Modifier la réservation{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier la réservation</h1>

<section class="container">
<div class="row">
<div class="col-12 col-md-6 offset-md-3">
    {{ form_start(form) }}
        {{ form_widget(form) }}
       <div class="text-center">
        <button class="btn btn1 text-center mt-3 mb-4">Sauvegarder</button>
        </div>
    {{ form_end(form) }}
     
        <div class="text-center">
        	{{ include('admin/calendar/_delete_form.html.twig') }}
        </div>

    <a class="btn btn3" href="{{ path('admin_calendar_index') }}">Retour à la liste</a>
    </div>
</div>
</section>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('assets/js/adminEditCalendar.js') }}" defer></script>
<script>
		/*
let closedDays = {{ closedDaysArray | json_encode | raw }};


$(document).ready(function () {
  const startField = $('#calendar_start_date_day');
  startField.on('change', function () {
    const selectedDayOfMonth = $(this).val();
    const selectedMonth = $('#calendar_start_date_month').val() - 1; // Ajuste pour JavaScript
    const selectedYear = $('#calendar_start_date_year').val();
    const selectedDate = new Date(Date.UTC(selectedYear, selectedMonth, selectedDayOfMonth));
    const selectedDayOfWeek = selectedDate.getUTCDay(); // Utilise UTC ici aussi pour la cohérence
    console.log("Jour de la semaine calculé :", selectedDayOfWeek);
	console.log('Jour fermé:', closedDays);
    console.log('Jour sélectionné:', selectedDayOfWeek); // Utilise selectedDayOfWeek, pas selectedDay
    if (closedDays.includes(selectedDayOfWeek)) {
      alert('Le restaurant est fermé ce jour-là. Veuillez choisir un autre jour.');
      $(this).val(''); // Réinitialise le champ
    }
  });
});
*/
	</script>
{% endblock %}
