<section class="container">
	<div class="row justify-content-center">
		<div class="col">
			{{ form_row(usersForm.lastname) }}
					{{ form_row(usersForm.firstname) }}
					{{ form_row(usersForm.email) }}
				</fieldset>

				<fieldset class="mb-3">
					{{ form_row(usersForm.phone) }}
					{{ form_row(usersForm.allergie) }}
				</fieldset>
				{{ form_end(usersForm) }}
</div>
	</div>
</section>