{% extends 'base.html.twig' %}

{% block title %}Listes des utilisateurs
{% endblock %}

{% block body %}


	<div class="container">
		<div class="row justify-content-center">
			{% include "_partials/_adminnav.html.twig" %}
			<main class="col-9 p-2">
				<h1 class="text-center">Listes des utilisateurs</h1>
				<table class="table">
					<thead>
						<tr class="text-center">
							<th>Nom</th>
							<th>Téléphone</th>
							
							<th>Rôles</th>
							<th>Vérifié</th>
						</tr>
					</thead>
					{% for user in users %}
						<tr>
							<td>{{ user.lastname }}</td>
							<td>{{ user.phone }}</td>
						
							<td>
								{% for role in user.roles %}
									{% if role == "ROLE_ADMIN" %}
										{% set name = "Administrateur" %}
										{% set color = "danger" %}
									{% elseif role == "ROLE_DISHES_ADMIN" %}
										{% set name = "Admin produits" %}
										{% set color = "warning" %}
									{% elseif role == "ROLE_USER" %}
										{% set name = "Membre" %}
										{% set color = "success" %}
									{% endif %}
									<span class="badge badge-{{ color }}">{{ name }}</span>


								{% endfor %}
							</td>
								<td>{{ user.isVerified }}</td>
							<td>
								<div class="form-check form-switch">
									<input class="form-check-input" type="checkbox" role="switch" id="switch {{ user.id }} " {{ user.isVerified ? "checked" : "" }} disabled>
									<label class="form-check-label" for="switch {{ user.id }}"></label>
								</div>
								</td>
							<td>
								<a href="{{ path('admin_users_edit', {'id': user.id}) }}" class="btn btn">Modifier</a>
							</td>
						</tr>

					{% endfor %}
				</table>
			</main>
		</div>
	</div>


{% endblock %}
