{% extends 'base.html.twig' %}

{% block title %}Accueil | Le Quai-Antique
{% endblock %}

{% block body %}

	<main class="container">
		<section class="row justify-content-center">
			<div class="col-12">
				<h1>Voir les
					{{ categorie.name }}</h1>
			</div>

			{% for dishe in dishes.data %}

				<div class="col-lg-6 col-md-6 col-sm-8 mb-4">
					<article class="card h-100" id="card">
						<div class="card-body text-center">
							<div>

								{% if dishe.images[0] is defined %}
									<img class="img-fluid rounded" src="{{ asset('assets/uploads/dishes/mini/300x300-') ~ dishe.images[0].name }} " class="d-block img-fluid" alt="{{ dishe.name }}">
								{% else %}
									<img class="img-fluid rounded" src="{{ asset('assets/images/OrangeetBordeauxRestaurantLogo.png') }}" class="d-block img-fluid" alt="{{ dishe.name }}">
								{% endif %}
							</div>
							<h2 class="card-title  text-center">{{ dishe.name }}</h2>


							<p>Les
								{{ dishe.description }}</p>
							<div class="text-center mt-auto">
								<a href="{{ path('app_dishes_details', {"slug": dishe.slug }) }}" class="btn btn">Détails</a>
								{% if app.user %}
									<div class="d-flex mt-auto">
										<a class="btn btn2 me-auto p-2" href=" {{ path('app_carte')}} ">La carte</a>
										<a class="btn p-2" href="{{ path('app_calendar_new') }}">Réserver</a>
									</div>
								{% else %}
									<div class="d-flex mt-auto">
										<a class="btn btn3 me-auto p-2" href=" {{ path('app_login')}} ">connexion</a>
										<a type="button" href="{{ path('app_register') }}" class="btn btn3 p-2">S'inscrire</a>
									</div>
								{% endif %}

							</div>
						</article>
					</div>
				{% endfor %}
				{% set path = 'app_categories_list' %}
				{% set slug = categorie.slug %}
				{% set pages = dishes.pages %}
				{% set currentPage = dishes.page %}
				{% include "_partials/_pagination.html.twig" %}
			</div>
		</section>
	</main>
{% endblock %}
