{% extends 'base.html.twig' %}

{% block title %}Détails de
	{{ dishe.name }}
{% endblock %}

{% block body %}
<article class="container text-center">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-lg-6 col-sm-12">
	<img class="logo" src="{{ asset('assets/images/Orange et Bordeaux Restaurant Logo.png') }}" alt="logo">
		<h1>Le Quai-Antique</h1>
	 <h2>Découvrez</br> notre cuisine</br> modèrne</h2>
    </div>
    <div class="col-lg-6 col-sm-12">
      {#<img class="img-fluid rounded" src={{ dishes.images }}>#}
    </div>
  </div>
</article>
<hr>
	<main class="container">
		<section class="row">
			<div class="col-12">
				<h1>{{ dishe.name }}</h1>

			</div>
			<div class="col-3">
				<div id="carouselExampleIndicators" class="carousel slide">
					 <div class="carousel-indicators">
                        {% for iteration in 1.. dishe.images|length %}
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ iteration - 1 }}" {{ (loop.first ) ? 'class="active" aria-current="true"' : '' }} aria-label="Slide {{ iteration }}"></button>
                        {% endfor %}
                    </div>
					<div class="carousel-inner">
                    {% for image in dishe.images %}
                        <div class="carousel-item {{ (loop.first ) ? 'active' : '' }}">
							<img src=" {{ asset('assets/uploads/dishes/mini/300x300-') ~ image.name }} " class="d-block img-fluid" alt= "{{ dishe.name }}">
						</div>
                    {% endfor %}
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
			<div class="col-6">
			<p>	{{ dishe.description }}</p>
				<p>Catégorie : {{ dishe.categories.name }}
				</p>
				<p>Prix : {{ dishe.price }} €</p>
				{% if app.user %}
				<a type="button" href="#" class="btn mt-3">Réserver</a>
				{% else %}
				<p>Connectez-vous pour réserver</p>
				<a type="button" href="{{ path('app_login') }}" class="btn mt-3">Connexion</a>
				<a type="button" href="{{ path('app_register') }}" class="btn mt-3">S'inscrire</a>
				{% endif %}
			</div>
		</section>
	</main>
{% endblock %}
