{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact{% endblock %}

{% block body %}
<h1 class="text-center">Formulaire de contact</h1>

<section class="container">
<div class="row justify-content-center">
<div class="col-md-6">

{{ form_start(form) }}
<div class="form-group text-center">
{{ form_row(form.full_name) }}
{{ form_row(form.email) }}
{{ form_row(form.phone) }}
{{ form_row(form.subject) }}
{{ form_row(form.message) }}
{{ form_row(form.submit) }}
{{ form_end(form) }}
</div>
</div>
</div>
</section>
{% endblock %}
