 <h1>Nouveau message de {{ contact.fullName }}</h1>
    <p>
        Nom : {{ contact.fullName }}<br>
        Email : {{ contact.email }}<br>
        Téléphone : {{ contact.phone }}<br>
        Sujet : {{ contact.subject }}
    </p>
    <p>
        Message :<br>
        {{ contact.message }}
    </p>