<p>Bonjour {{ user.firstname }} {{ user.lastname }},</p>
<p>Pour votre demande de réinitialisation de mot de passe, veuillez cliquer sur le bouton ci-dessous :</p>

<a href="{{ url|raw }}" style="background-color: #3f9cef; color: #ffffff; display: inline-block; padding: 10px 20px; text-decoration: none; border-radius: 5px;">
    Réinitialiser mon mot de passe
</a>

<p>Si vous rencontrez des problèmes pour cliquer sur le bouton, veuillez utiliser l'URL suivant dans votre navigateur :</p>
<p>{{ url|raw }}</p>
<p>Merci</p>


{% set logo_url = "https://restaurant-demo.ovh/assets/images/OrangeetBordeauxRestaurantLogo.png" %}
<img style="width: 150px; height: auto; background-color: #1e1f20; padding: 10px; border-radius: 5px;" src="{{ logo_url }}" alt="Logo" />

