<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="/assets/images/Orange et Bordeaux Restaurant Logo.png">

		<meta
		name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Feuilles de styles -->

		<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
		<link rel="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.min.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"/>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		<link
		rel="stylesheet" href="{{ asset('assets/css/main.css') }}">

		<!-- Fichiers JS -->

		<script src="{{ asset('assets/js/jQuery3.6.3.js') }}"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" defer></script>
		<srcipt src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js" defer></srcipt>
		<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js" defer></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js" defer></script>
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
		<script src="{{ asset('assets/js/scripts.js') }}" defer></script>


	</head>
	<body>
		{% include "_partials/_nav.html.twig" %}

		{% if app.user and app.user.isVerified == false %}
			<div class="alert alert-warning alert-dismissible" role="alert">
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				<div class="alert-message">
					<strong>Votre compte n'est pas activé</strong>,
					<a href="{{ path('app_resend_verif') }}">renvoyer le lien d'activation</a>
				</div>
			</div>
		{% endif %}

		{% include "_partials/_flash.html.twig" %}

		{% block body %}{% endblock %}

		{% include "_partials/_footer.html.twig" %}
	</body>
</html>
