{% extends "base.html.twig" %}

{% block title %}Le Quai-Antique | Menu {{ menu.name }}
{% endblock %}

{% block body %}
<article class="container-fluid text-center">
    <div class="row justify-content-center">
        <div class="col-lg-12 col-sm-12">

            <section class="container" id="menu">
                <div>
                    <h1>Menu {{ menu.name }}</h1>
                </div>

                {% for dish in menu.dishes %}
                    <div class="row justify-content-center">
                        <div class="col-6 px-20">
                            <h3>{{ dish.name }}</h3>
                            <p class="text-center px-50">{{ dish.description }}</p>
                            <p class="price">{{ dish.price }}€</p>
                        </div>
                    </div>
                {% endfor %}

                {% include "_partials/_pagination.html.twig" with {
                    'menu_index': 'menu_show',
                    'currentPage': 1,
                    'totalPages': totalPages,
                } %}
                
                {% if app.user %}
                    <div class="nav-item">
                        <a class="btn btn mt-3" href="{{ path('app_calendar_new') }}">Réserver</a>
                    </div>
                {% else %}
                    <div class="nav-item">
                        <a class="btn btn mt-3" href=" {{ path('app_login') }}">Me connecter</a>
                    </div>
                    <div class="nav-item">
                        <a class="btn btn mt-3" href="{{ path('app_register') }}">M'inscrire</a>
                    </div>
                {% endif %}
            </section>
        </div>
    </div>
</article>
{% endblock %}
